<div class="container py-2 <%= aligner %>-align">
    <div class="row border border-success rounded" style="display: inline-block">
        <div class="col bg-gradient-success text-white">
            <h5 class="p-1">
                <%= username %>
            </h5>
            <li class="p-3" style="list-style-type: none;">
                <%= message %>
            </li>
        </div>
    </div>
</div>